<template>
<div class="content">
  <navbar1/>
      <img class="Notebook2" src="../../../src/assets/img/Notebook2.png">
  <MainOpportunities/>
</div>
</template>

<script>
import Navbar1 from "@/components/Nav/navbar";
import MainOpportunities from "@/components/Opportunities/MainOpportunities";
export default {
name: "Opportunities",
  components: {
    MainOpportunities,
    Navbar1,
  }
}
</script>

<style scoped>
.content{
  margin: 0px;
  height:auto;
  box-sizing: border-box;
}
.Notebook2{
  margin-top: 40px;
  display: block;
  margin-left: -110px;
  float: right;

  position: relative;
}
</style>