<template  >
  <div class="v-main-wrapper">
    <keep-alive>
      <router-view>

      </router-view>
    </keep-alive>

  </div>

</template>
<script >


export  default {
  name: 'homePage',
  props:{
  },
  data(){
    return {}
  },
  computed:{
  },
  methods:{
  },
  watch:{},
  mounted() {
    console.log("component install ")
  }

}

</script>
<style >
.v-main-wrapper{
    margin: 0 auto;
}
</style>