<template>
  <div class="registrationContent">
    <div class="registrationContentImg">
      <img src="../../../src/assets/img/KidsStudyingfromHome2.svg" alt="KidsStudyingfromHome2">
    </div>
    <div  class="RegistrForm">
      <img class="KidsStudyingfromHome2DisplayNone" src="../../../src/assets/img/KidsStudyingfromHome2.svg" alt="KidsStudyingfromHome2">

      <div class="Formdiv">
        <h3>
          Регистрация
        </h3>
        <label>
        Имя
        </label>
        <input class="input" placeholder="Ваше имя">
        <label>
          Логин
        </label>
        <input class="input" placeholder="Ваш логин">
        <label>
          Пароль
        </label>
        <input class="input" placeholder="Ваш пароль">
      </div>
        <div >
          <button class="btn-registr">
            Регистрация
          </button>
          <button class="btn-otmena">отменить</button>
        </div>



    </div>
    <img  class="registrationContentGlobus" src="../../../src/assets/img/globus.png">

  </div>
</template>

<script>
export default {
name: "registration"
}
</script>

<style scoped>
.registrationContent{
  box-sizing: border-box;
  width: 100%;
  padding: 6% 10% 300px 10% ;
  position: relative;
  height: auto;
}
.registrationContentImg{
  width: 50%;
  display: inline-block;
  margin-top:50px;
}
.RegistrForm{
  box-sizing: border-box;
  display: inline-block;
  float: right;
  width: 47%;
  background: #FFFFFF;
  text-align: center;
  padding: 6% 5%;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
}
.RegistrForm .Formdiv{
  /*padding: 20px 56px 50px 56px;*/
  text-align: left;
}
.RegistrForm h3{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 160%;
  color: rgba(75,93,104,1);
}
.RegistrForm .KidsStudyingfromHome2DisplayNone{
  display: none;
}
.RegistrForm label{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.04em;

  /* Blue_01 */
  color: #1F3F68;
  opacity: 0.8;
}
.RegistrForm .input{
  box-sizing: border-box;
  opacity: 0.5;
  /* blue_03 */
  width: 100%;
  padding: 15px 19px 15px 36px ;
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px 50px 30px 0px;


}
.RegistrForm .input::placeholder{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.5;
}
.RegistrForm .input:focus{
  outline: none;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.9;
}
.RegistrForm .btn-registr{
  width: 80%;
  height: 52px;
  left: calc(50% - 344px/2 + 270px);
  top: calc(50% - 52px/2 - 828px);
  background: linear-gradient(180deg, #166EFF 0%, #281AC8 100%, #281AC8 100%);
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-transform: uppercase;
  text-align: center;
  border: none;
  letter-spacing: 0.04em;
  margin: 20px 20px;
  color: #FFFFFF;
  cursor: pointer;
}
.RegistrForm .btn-otmena{
  width: 80%;
  height: 52px;
  left: calc(50% - 344px/2 + 270px);
  top: calc(50% - 52px/2 - 828px);
  border-radius: 10px;
  background: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-transform: uppercase;
  text-align: center;
  border: none;
  letter-spacing: 0.04em;
  margin: 0px 20px;
  /*color: #FFFFFF;*/
  color: rgba(20,102,237,1);
  cursor: pointer;
}
.registrationContentGlobus{
  float: left;
  margin-top: 100px;
  margin-left: -50px;
}
@media (max-width:992px) {
  .RegistrForm{
    width: 50%;
  }
}

@media (max-width: 700px) {
  .RegistrForm .KidsStudyingfromHome2DisplayNone{
    display: block;
  }
  .RegistrForm{
    width: auto;
    padding: 6% 10%;
  }
  .registrationContentImg{
    display: none;
    visibility: hidden;
  }
  .registrationContent{
    padding: 6% 12% 300px 12% ;

  }
  .registrationContentGlobus{
    float: left;
    margin-top: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 400px) {
  .RegistrForm .KidsStudyingfromHome2DisplayNone{
    display: block;
  }

  .registrationContentImg{
    display: none;
    visibility: hidden;
    }
  .registrationContent{
    /*margin: 30px 30px 30px 30px ;*/

  }
  .RegistrForm .input{
    margin: 10px 50px 10px 0px;


  }

}

</style>