<template>
  <div content>
    <div class="signInContent">
      <div class="signInContentImg">
        <img src="../../../src/assets/img/KidsStudyingfromHome2.svg" alt="KidsStudyingfromHome2">
      </div>
      <div  class="singInForm">
        <div class="signInFormtImg">
          <img src="../../../src/assets/img/KidsStudyingfromHome2.svg" alt="KidsStudyingfromHome2">
        </div>
        <div class="Formdiv">
          <h3>
           Войти
          </h3>
           <label>
            Логин
          </label>
          <input class="input" placeholder="Ваш логин">
          <label>
            Пароль
          </label>
          <input class="input" placeholder="Ваш пароль">
        </div>

        <button class="btn-sing">
            ВОЙТИ
        </button>
        <button class="btn-otmena">отменить</button>

         <span class="forgetPassport">
           <router-link :to="{name:'registration'}">
            <a>Забыли пароль?</a>
          </router-link>
         </span>
         <span class="registration">
           <router-link :to="{name:'registration'}">
            <a>Регистрайия</a>
          </router-link>
         </span>

      </div>

    </div>
    <img  class="signInContentGlobus" src="../../../src/assets/img/globus.png">

  </div>
</template>

<script>
export default {
  name: "sign-in"
}
</script>

<style scoped>
.signInContent{
  box-sizing: border-box;
  width: 100%;
  padding: 5% 10% 150px 10% ;
  position: relative;
  /*background: #2F80ED;*/
  height: auto;
}
.signInContentImg{
  width: 50%;
  display: inline-block;
  margin-top:50px;
}
.singInForm{
  box-sizing: border-box;
  display: inline-block;
  float: right;
  width: 47%;
  background: #FFFFFF;
  text-align: center;
  padding: 6% 5%;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
}
.singInForm .Formdiv{
  /*padding: 20px 56px 50px 56px;*/
  text-align: left;
}
.singInForm h3{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 160%;
  color: rgba(75,93,104,1);
}
.singInForm .signInFormtImg{
  display: none;
}
.singInForm label{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  letter-spacing: 0.04em;

  /* Blue_01 */
  color: #1F3F68;
  opacity: 0.8;
}
.singInForm .input{
  opacity: 0.5;
  /* blue_03 */
  width: 100%;
  padding: 15px 19px 15px 36px ;
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px 50px 30px 0px;


}
.singInForm .input::placeholder{
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
}
.singInForm .input:focus{
  outline: none;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.9;
}
.singInForm .btn-sing{
  width: 80%;
  height: 52px;
  left: calc(50% - 344px/2 + 270px);
  top: calc(50% - 52px/2 - 828px);
  background: linear-gradient(180deg, #166EFF 0%, #281AC8 100%, #281AC8 100%);
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-transform: uppercase;
  text-align: center;
  border: none;
  letter-spacing: 0.04em;
  margin: 20px 20px;
  color: #FFFFFF;
  cursor: pointer;
}
.singInForm .btn-otmena{
  width: 80%;
  height: 52px;
  left: calc(50% - 344px/2 + 270px);
  top: calc(50% - 52px/2 - 828px);
  border-radius: 10px;
  background: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-transform: uppercase;
  text-align: center;
  border: none;
  letter-spacing: 0.04em;
  margin: 0px 20px;
  /*color: #FFFFFF;*/
  color: rgba(20,102,237,1);
  cursor: pointer;
}
.forgetPassport {
  float: left;
  text-align: left;
  cursor: pointer;
}
.forgetPassport a,.registration a{
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1466ED;
  /*opacity: 0.8;*/
}
.registration {
  cursor: pointer;
  float: right;
  text-align: right;
}
.signInContentGlobus{
  float: left;
  margin-top: -100px;
  margin-left: 50px;
}
@media (max-width:992px) {
  .singInForm{
    width: 50%;
  }
}

@media (max-width: 700px) {
  .singInForm .signInFormtImg{
    display: block;
  }
  .singInForm{
    width: auto;
    padding: 6% 10%;
  }
  .signInContentImg{
    display: none;
    visibility: hidden;
  }
  .signInContent{
    padding: 6% 12% 300px 12% ;

  }
  .signInContentGlobus{
    float: left;
    margin-top: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 400px) {
  .singInForm .signInFormtImg{
    display: block;
  }

  .signInContentImg{
    display: none;
    visibility: hidden;
  }
  .signInContent{
    /*margin: 30px 30px 30px 30px ;*/

  }
  .singInForm .input{
    margin: 10px 50px 10px 0px;


  }

}

</style>