<template>
  <div id="app">

    <homePage/>
  </div>
</template>

<script>

import homePage from "@/components/MainPage/homePage";
// import Navbar from "@/components/Nav/navbar";
export default {
  name: 'App',
  components: {
    // Navbar,
    homePage
  }
}

</script>
<style>
@font-face {
  font-family: Helvetica;
  src: local("Avenir"),
  url(./assets/font/Helvetica-Font/Helvetica.ttf) format("truetype")
}
</style>