@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), local('Helvetica'),
    url('~@/assets/font/Helvetica-Font/Helvetica.ttf') format('tff'),
    url('~@/assets/font/Helvetica-Font/Helvetica-Bold.ttf') format('ttf');

}
*{
    margin: 0;
    padding: 0;
    max-width: 100%;


}
body {
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%) repeat-x;

}
button{
    outline: none;
}
button:hover{
    outline: none;
background: none
}
