<template>
  <div class="nav">
    <div class="logo"  >
      <img src="../../../src/assets/img/Logo1.png" alt="">
    </div>
    <div class="menu" id="showMenu" ref="showMenu">
      <i class="fa fa-close"   @click="RemoveMenu"></i>
      <ul class="navbar-nav ml-auto"  ref="showul">
        <li class="nav-item" @click="setActive">
          <router-link :to="{name:'home'}" class="link active">
            Главная
          </router-link>
        </li>
        <li  class="nav-item" @click="setActive">
          <router-link :to="{name:'about'}" class="link">
           О проекте
          </router-link>
        </li>
        <li  class="nav-item"  @click="setActive">
          <router-link :to="{name:'opportunity'}" class="link">
            Возможности
          </router-link>
        </li>
        <li  class="nav-item"  @click="setActive">
          <router-link :to="{name:'support'}" class="link">
           Поддержка
          </router-link>
        </li>
        <li  class="nav-item"  @click="setActive">
          <router-link :to="{name:'registration'}" class="link">
           Регистрация
          </router-link>
        </li>
      </ul>
        <button class="sign">
          <router-link  :to="{name:'signIn'}">
            войти <img src="../../../src/assets/img/next.svg" alt="next ">
          </router-link>
        </button>
    </div>
    <i class="fa fa-bars"  @click="ShowMenu"></i>
  </div>

</template>

<script>
export default {
  name: "navbar2",
  data(){
    return{
      activeItem: ''
    }
  },

  methods:{
      setActive: function () {
      console.log(this.$el.getElementsByClassName('nav-item').length)
      // let header = this.$el.getElementById("myDIV");
      let nav_item = document.getElementsByClassName("nav-item");
      console.log(nav_item.length)
        // console.log( this.$el.getElementsByClassName('active'))
      for (var i = 0; i < nav_item.length; i++) {
        nav_item[i].addEventListener("click", function() {
          let current = this.$el.getElementsByClassName("active");
          console.log( this.$el.getElementsByClassName('active'))
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
        });
      }
    },
    ShowMenu(){
      this.$refs.showMenu.style.visibility="visible";
      console.log( this.$refs.showMenu)


    },
    RemoveMenu(){
      this.$refs.showMenu.style.visibility="hidden ";
      console.log( this.$refs.showMenu.style.right)
    }

  },
  mounted(){
    console.log('Component ready.')
  }

}
</script>

<style scoped>
.nav{
  box-sizing: border-box;
  width: 100%;
  padding: 56px 80px 50px 80px;

  margin-right: auto;
  margin-left: auto;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.logo{
  display: inline-block;
  margin: 0;
  padding: 0;
}
/*Войти буттон*/
.sign {
  width: 147px;
  height: 60px;
  border: none;
  border-radius: 50px;
  background: #FFFFFF;
  box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  margin-left: 20px;
  transition:  background-color.2s ease-in-out;
  will-change: transform;
}
.sign::after{

}
.sign:hover::after {
  /*transform: translate(0, 0);*/
}
.sign:hover {
  border: 1px solid #167ce9;
  color: whitesmoke;
  transform: scale(1.05);
  will-change: transform;
}
.sign img{
  margin-left:  15px;
  background: #FFFFFF;
}
.sign:hover a{
  /*color: #FFFFFF;*/
}
.sign a{
  text-decoration: none;
  color: #212353;
  padding: 10px;
}
.menu{
  /*flex: 1;*/
}
.navbar-nav {
  box-sizing: border-box;
  display: inline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ul{
  box-sizing: border-box;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
li{
  display: list-item;
  text-align: -webkit-match-parent;
}
.nav-item .active , li a:hover{
  color: #167ce9;
}
.ml-auto{
  margin-left: auto !important;
}
.nav-item {
  margin: 0;
  list-style: none;
  display: inline-block;
  padding: 42px 0px;
}
 .nav-item a  {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-decoration: none;
  text-align: center;
  color: #4B5D68;
  padding-right: 25px;
  margin: 0;
  box-sizing: border-box;
  padding-left: 25px;
}
/*li a:hover{*/
/*  font-style: normal;*/
/*  font-weight: 800;*/
/*  font-size: 16px;*/
/*  line-height: 160%;*/
/*  text-align: center;*/
/*  color: #212353;*/
/*}*/
.nav .fa{
  display: none;
}



@media (max-width:1216px) {
  .nav{
    max-width: 1200px;
    width: 100%;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 40px;
  }
  .nav-item a {
    padding-right: 10px;
    padding-left: 10px;
  }
  .menu{
    flex-basis: auto;
  }

}
@media  (max-width: 992px){
  .fa-bars{
    position: absolute;
    right: 30px;
    background: #1122c4;
  }
  .nav .fa{
    display: block;
    color: #fff;
    margin: 15px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .menu{
    height: 100vh;
    width: 300px;
    background: linear-gradient(180deg, #563ae5 0%, #339DFA 100%);
    top: 0;
    right: 0px;
    position: absolute;
    visibility: hidden;
    text-align: left;
    z-index: 2;
  }
  .nav-item{
    padding: 15px 15px;
  }
  .navbar-nav li {
    display: block;
    text-align: left;
  }
  .nav-item .active, li a:hover{
    color: #073c76;
  }
  .menu ul a {
    line-height: normal;
    color: white;
    font-weight: 800;
    font-size: 20px;

  }

  .menu .sign{
    float: none;
    margin-left: 20px;
    margin-top: 15px;
  }
  .nav .fa{
    display:block ;

  }
}
@media (max-width:700px){
  .fa-bars{
    position: absolute;
    right: 30px;
    background: #1122c4;
  }
  .nav .fa{
    display: block;
    color: #fff;
    margin: 15px 25px;
    font-size: 22px;
    cursor: pointer;
  }
  .menu{
    height: 100vh;
    width: 200px;
    background: linear-gradient(180deg, #563ae5 0%, #339DFA 100%);
    top: 0;
    right: 0px;
    position: absolute;
    visibility: hidden;
    text-align: left;
    z-index: 2;
  }
  .nav-item{
    padding: 15px 15px;
  }
  .navbar-nav li {
    display: block;
    text-align: left;
  }
  .menu ul a {
    line-height: normal;
  }

  .menu .sign{
    float: none;
    margin-left: 20px;
    margin-top: 15px;
  }
  .nav .fa{
    display:block ;

  }
}

</style>